<div>
  <input
    name="tasks"
    [value]="task"
    (blur)= "inputFocusOn()"
    (input)="taskInput($event)"
    [ngClass]="setInputClass()"
  />
  <button class="button" style="margin: 20px" (click)="onDeleteClick()">Delete</button>
</div>
