<div>
  <form>
    <input placeholder="Add new task"  name="task" [(ngModel)]="task"/>
    <button class="button" style="margin: 20px" (click)="onAddTask()">Add</button>
  </form>
</div>

<app-tasks
  *ngFor="let toDo of toDoList; let i = index"
  [task]="toDo.task"
  (delete)="onDeleteTask(i)"
  (taskChange)="changeTask(i, $event)"
></app-tasks>
